<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todolist - Feita em Angular</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <main>

    <form id="form">
      <input type="text" name="tf_2do" id="tf_2do" autocomplete="off" placeholder="Adicionar tarefa">
      <button type="submit">Salvar</button>
    </form>
    <table id="table">
      
    </table>
    <app-lista-de-tarefas></app-lista-de-tarefas>
  </main>
  <script src="index.js"></script>
</body>

</html>
